@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset สำหรับ full screen */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* (optional) font หลัก */
body {
  font-family: Quicksand, sans-serif;
}